.mat-header-cell {
	// width: 80px;
	font-size: 1.2em;
	margin: 20px;
}

.mat-cell {
	padding: 10px;
}

.small-col {
	min-width: 50px;
	padding-right: 15px;
}

input {
	max-width: 50px;
}

.flex {
	display: flex;
}

textarea {
	resize: none;
}

.poster {
	width: 150px;
	margin-top: 10px;
}

button {
	margin-left: 10px;
}

textarea {
	font-family: 'Roboto', Courier, monospace;
}
