<div class="wrapper">
	<table mat-table [dataSource]="DataSource">

		<!-- Poster column-->
		<ng-container matColumnDef="Poster">
			<th mat-header-cell *matHeaderCellDef>Poster</th>
			<td mat-cell *matCellDef="let movie">
				<img src={{movie.PosterUrl}} class="poster" />
			</td>
		</ng-container>

		<!-- Title column-->
		<ng-container matColumnDef="Title">
			<th mat-header-cell *matHeaderCellDef>Title</th>
			<td mat-cell *matCellDef="let movie">
				<p>{{movie.Title}}</p>
			</td>
		</ng-container>

		<!-- Year column -->
		<ng-container matColumnDef="Year">
			<th class="small-col" mat-header-cell *matHeaderCellDef>Year</th>
			<td mat-cell *matCellDef="let movie">
				<p>{{movie.Year}}</p>
			</td>
		</ng-container>

		<!-- Type column -->
		<ng-container matColumnDef="Type">
			<th class="small-col" mat-header-cell *matHeaderCellDef>Type</th>
			<td mat-cell *matCellDef="let movie">
				<p>{{movie.Type}}</p>
			</td>
		</ng-container>

		<!-- Director column -->
		<ng-container matColumnDef="Director">
			<th mat-header-cell *matHeaderCellDef>Director</th>
			<td mat-cell *matCellDef="let movie">
				<p>{{movie.Director}}</p>
			</td>
		</ng-container>

		<!-- Runtime column -->
		<ng-container matColumnDef="Runtime">
			<th class="small-col" mat-header-cell *matHeaderCellDef>Runtime</th>
			<td mat-cell *matCellDef="let movie">
				<p>{{movie.Runtime}}</p>
			</td>
		</ng-container>

		<!-- Genres column -->
		<ng-container matColumnDef="Genres">
			<th mat-header-cell *matHeaderCellDef>Genres</th>
			<td mat-cell *matCellDef="let movie">
				<p>{{movie.Genres}}</p>
			</td>
		</ng-container>

		<!-- Actors column -->
		<ng-container matColumnDef="Actors">
			<th mat-header-cell *matHeaderCellDef>Cast</th>
			<td mat-cell *matCellDef="let movie">
				<p>{{movie.Actors}}</p>
			</td>
		</ng-container>

		<!-- Personal notes -->
		<ng-container matColumnDef="Notes">
			<th class="small-col" mat-header-cell *matHeaderCellDef>Notes </th>
			<td mat-cell *matCellDef="let movie; let i = index">
				<textarea rows="10" [formControl]="formArray.controls[i].controls.userNotes"></textarea>
			</td>
		</ng-container>

		<!-- IMDB Rating -->
		<ng-container matColumnDef="IMDBRating">
			<th class="small-col" mat-header-cell *matHeaderCellDef>IMDB</th>
			<td mat-cell *matCellDef="let movie">
				<p>{{movie.IMDBRating}}</p>
			</td>
		</ng-container>


		<!-- Rotten tomatoes Ratings -->

		<ng-container matColumnDef="RTRating">
			<th class="small-col" mat-header-cell *matHeaderCellDef>Rotten Tomatoes</th>
			<td mat-cell *matCellDef="let movie">
				<p>{{movie.RottenTomatoesRating}}</p>
			</td>
		</ng-container>

		<!-- User ratings - editable -->
		<ng-container matColumnDef="UserRating">
			<th class="small-col" mat-header-cell *matHeaderCellDef>User rating</th>
			<td mat-cell *matCellDef="let movie; let i = index">
				<input mat-input [formControl]="formArray.controls[i].controls.userRating">
			</td>
		</ng-container>


		<!-- Actiosn column -->
		<ng-container matColumnDef="Actions">
			<th class="small-col" mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let movie; let i = index">

				<div class="flex">
					<button mat-flat-button (click)="removeMovie(formArray.controls[i].controls.id.value)">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columnNames"></tr>
		<tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
	</table>
</div>
