.page {
	margin: 30px;
}

.colection-list {
	display: flex;
	button {
		width: 250px;
		margin: 20px;
	}
}

li {
	padding-top: 10px;
}

.white {
	color: white;
}

.empty-warning {
	margin-top: 30px;
	color: white;
}

.create-button {
	margin-top: 20px;
}

.import-button {
	margin-left: 20px;
}

.my-colections {
	color: white;
	margin-top: 20px;
}
.mat-divider {
	margin-top: 20px;
}

.colection-list {
	flex-wrap: wrap
}
