<div class="page">

	<mat-card>
		<mat-card-title>
			<h2>Disclaimer</h2>
		</mat-card-title>
		<mat-card-content>
			<ul>
				<li>
					This app is in development.
				</li>
				<li>
					Currently, the colections are saved to local storage, so make sure to do a back up before clearing your local storage.
				</li>
				<li>
					To add movies / series to a colection, go to the search page, search for the name of the movie / series and select "add to colection"
				</li>
				<li>
					You can download a backup of your colections and restore them to another browser for example. Restoring data from a file will replace all your current data.
				</li>
			</ul>
		</mat-card-content>
	</mat-card>

	<ng-template #emptyState>
		<div class="empty-warning">
			<h3 class="white">You dont have any colections yet.</h3>
		</div>
	</ng-template>
	<mat-divider></mat-divider>
	<button class="create-button" mat-raised-button (click)="createColection()">Create Colection</button>

	<div *ngIf="!isEmpty; else emptyState">
		<h2 class="my-colections">My colections</h2>
		<div class="colection-list">
			<div *ngFor="let col of existingColections">
				<button mat-flat-button (click)="navigate(col.id)">
					<mat-icon>local_movies</mat-icon>
					{{col.name}}
				</button>
			</div>
		</div>
	</div>

</div>
