<mat-toolbar>
	<mat-toolbar-row>
		<mat-icon>movie</mat-icon>
		<h1> {{title}} </h1>
		<div class="nav-menu">
			<div>
				<button class="nav-item" mat-button routerLink='search'>Search</button>
				<button class="nav-item" [matMenuTriggerFor]="appMenu" mat-button routerLink="colections">Colections</button>
				<mat-menu #appMenu="matMenu">
					<button mat-menu-item *ngFor="let col of (colections$ | async)"
							(click)="navigateToColection(col.id)">{{col.name}}</button>
				</mat-menu>
			</div>
			<div>
				<button class="nav-item" mat-button (click)="backUp()">
					<mat-icon>save</mat-icon>
				</button>
				<button class="nav-item" mat-button (click)="handleRestore()">
					<mat-icon>
						upgrade
					</mat-icon>
				</button>
			</div>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
