<h1 mat-dialog-title>{{data.title}} </h1>
<div mat-dialog-content>
	<span>Select colection: </span>
	<mat-form-field>
		<mat-select [formControl]="colectionIdControl">
			<mat-option *ngFor="let col of (colections$ | async)" [value]="col.id">
				{{col.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>

</div>
<div mat-dialog-actions>
	<button mat-raised-button
			[disabled]="colectionIdControl.invalid"
			(click)="addMovieToColection()">Add</button>

	<button mat-flat-button
			[mat-dialog-close]="false">Cancel</button>
</div>
